/* 各个页面相同的样式表 : 头, 尾部 */
/* 版心 */

.main {
    height: 715px;
    background-color: rgb(0, 47, 147);
}

.wrapper {
    margin: 0 auto;
}

/* 顶栏 */
.shortcut {
    position: fixed;
    align-items: center;
    top: 0;
    margin: 0 auto;
    width: 100%;
    height: 52px;
    background-color: rgb(0, 47, 147);
    z-index: 99;
}

.shortcut .wrapper {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    height: 52px;

}

.shortcut img {
    float: left;
    margin-right: 20px;
    height: 52px;
    border-radius: 50%;
}

.shortcut span {
    line-height: 52px;
    height: 52px;
    color: #ccc;
    font-size: 32px;
    font-weight: 700;
}

/* 初始化盒子 */
.content {
    position: fixed;
    margin-top: 52px;
    width: 100%;
    height: 100%;
}

/* 侧边栏 */
.content_left {
    position: absolute;
    left: -18%;
    float: left;
    width: 19%;
    height: 100%;
    /* background-color: rgb(255, 255, 255); */
    backdrop-filter: blur(10px);
    transition: all 1s;
    z-index: 2;
}

.content_left:hover {
    left: 0;
}

.left_title {
    position: relative;
    width: 100%;
    height: 50px;
}

.left_title>a {
    display: block;
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: rgb(0, 47, 147);
    font-weight: 900;
}

.seg {
    width: 100%;
    height: 1px;
    border-bottom: 1px solid rgb(0, 47, 147);
}

.nav {
    /* 开启弹性布局 */
    display: flex;
    /* 强制垂直排列子盒子 */
    flex-direction: column;
    flex-wrap: wrap;
    margin: 5px 0;
    width: 100%;
    height: 100%;
}

.nav_title,
.nav_title>a {
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: rgb(0, 47, 147);
    font-weight: 700;
    /* background-color: #fff; */
    backdrop-filter: blur(10px);
    /* 鼠标接触显示手型 */
    cursor: pointer;
    /* z-index: 2; */
}

.nav_title:hover,
.nav_title:hover a {
    color: #fff;
    /* background-color: rgb(0, 47, 147); */
}

.nav_content {
    width: 100%;
    /* height: 100%; */
    background-color: rgba(0, 47, 147, 0.2);
}

.nav_content>a {
    display: block;
    width: 100%;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 14px;
    color: rgb(0, 47, 147);
    transition: all .3s;
}

.nav_content>a:hover {
    color: #fff;
    font-weight: 600;
    background-color: rgb(0, 47, 147);
}

/* 内容区 */
.content_right {
    position: absolute;
    left: 1%;
    float: left;
    width: 99%;
    height: 100%;
    background-color: #6495ed;
    z-index: 1;
}

.content_right iframe {
    width: 100%;
    height: 100%;
    z-index: 2;
}